*.retry
__pycache__/
*.pyc
data/
ansible.cfg
docker-compose.yml

recommendersystem/web/static/admin
recommendersystem/web/static/rest_framework
recommendersystem/web/bookcrossing/migrations/*initial.py
