<ul class="step-links pagination">
  {% if paged_object.has_previous %}
    <li>
        <a href="?{{ page_query }}={{ paged_object.previous_page_number }}">&laquo;</a>
    </li>
  {% else %}
    <li class="disabled"><span>&laquo;</span></li>
  {% endif %}
  {% for i in paged_object.paginator.page_range %}
    {% if paged_object.number == i %}
      <li class="current">
          <span>{{ i }} <span class="sr-only">(current)</span></span>
      </li>
    {% else %}
      <li><a href="?{{ page_query }}={{ i }}">{{ i }}</a></li>
    {% endif %}
  {% endfor %}
  {% if paged_object.has_next %}
    <li><a href="?{{ page_query }}={{ paged_object.next_page_number }}">&raquo;</a></li>
  {% else %}
    <li class="disabled"><span>&raquo;</span></li>
  {% endif %}
</ul>
