{% extends "base.html" %}

{% block content %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th>isbn</th>
      <th>title</th>
      <th>author</th>
      <th>publication year</th>
      <th>publisher</th>
      <th>image url</th>
    </tr>
  </thead>
  <tbody>
    {% for item in items %}
      <tr>
        <td>{{ item.isbn }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.author }}</td>
        <td>{{ item.publication_yr }}</td>
        <td>{{ item.publisher }}</td>
        <td>{{ item.image_url_m }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% include "pagination.html" %}

{% endblock content %}
