{% extends "base.html" %}

{% block content %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th>user</th>
      <th>user id</th>
      <th>item</th>
      <th>isbn</th>
      <th>rating</th>
      <th>created</th>
      <th>last modified</th>
    </tr>
  </thead>
  <tbody>
    {% for rating in ratings %}
      <tr>
        <td>{{ rating.user_id }}</td>
        <td>{{ rating.user_id.pk }}</td>
        <td>{{ rating.isbn }}</td>
        <td>{{ rating.isbn.isbn}}</td>
        <td>{{ rating.rating }}</td>
        <td>{{ rating.created }}</td>
        <td>{{ rating.last_modified }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% include "pagination.html" %}

<form action="{% url 'api-rating-list' %}" method="post">
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>

{% endblock content %}
