{% extends "base.html" %}

{% block content %}

<table class="table table-bordered">
  <thead>
    <tr>
      <th>user id</th>
      <th>location</th>
      <th>age</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
      <tr>
        <td>{{ user.user_id }}</td>
        <td>{{ user.location }}</td>
        <td>{{ user.age }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% include "pagination.html" %}

<form action="{% url 'api-user-list' %}" method="post">
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form>

{% endblock content %}
