---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: recommender-web-ing
  namespace: {{ recommender_namespace }}
  annotations:
    # use the shared ingress-nginx that was installed via
    # https://kubernetes.github.io/ingress-nginx/
    kubernetes.io/ingress.class: "nginx"
spec:
  rules:
  - http:
      paths:
      - path: /
        backend:
          serviceName: recommender-web-svc
          servicePort: 8050
