apiVersion: v1
kind: Secret
metadata:
  name: recommender-secrets
  namespace: {{ recommender_namespace }}
type: Opaque
data:
  django_secret_key: "{{ django_secret_key | b64encode }}"
  database_password: "{{ database_password | b64encode }}"
  rabbitmq_password: "{{ rabbitmq_password | b64encode }}"
  rabbitmq_erlang_cookie: "{{ rabbitmq_erlang_cookie | b64encode }}"
